@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap');

body{
  overflow:auto;
}
.aboutPage {
font-family: 'Noto sans', sans-serif;
  color: #000;
  background-color: rgb(253, 255, 127);
  transition: background-color 4s ease,color 4s ease;
  padding-top:8vh;
  width:100vw;
  display:flex;
  justify-content: center;
  
}

.aboutPaper {
  padding:0px 12px;
  width:80vw;
  background-color:rgb(236, 235, 235) !important;
}
.frontDivider{
  border:2px solid white;
  width:80%;
  
}
.aboutPanels{
  padding:12px;
}

.invisible {
  opacity: 0;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 60vh;
  font-family: sans-serif;
  width:100vw;
  
  
}


.color-sunrise {
  background-color: rgb(204, 206, 102);
}
.color-morning {
  background-color:rgba(3, 235, 252, 0.856);
}
.color-afternoon{
  background-color:rgb(3, 152, 252)
}
.color-evening{
  background-color: rgb(179, 116, 0);
}
.color-night{
  color:white;
  background-color: rgb(5, 0, 41);
}


.beforePaper {
  background-color:rgb(231, 231, 231) !important;
  padding:24px;
}
.HomeContainer{
  background-color: #84868E;
  
}
