.aboutPage {
  color: #000;
  background-color: rgb(253, 255, 127);
  transition: background-color 4s ease,color 4s ease;
  padding-top:8vh;
  
}

.aboutPaper{

}
.aboutPanels{
  padding:12px;
}
.hide {
  display:none;
}
.invisible {
  opacity: 0;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 80vh;
  font-family: sans-serif;
  
  
}

.color-sunrise {
  background-color: rgb(204, 206, 102);
}
.color-morning {
  background-color:rgba(3, 235, 252, 0.856);
}
.color-afternoon{
  background-color:rgb(3, 152, 252)
}
.color-evening{
  background-color: rgb(179, 116, 0);
}
.color-night{
  color:white;
  background-color: rgb(5, 0, 41);
}

.aboutOverlay{
  margin:12px;
  position: absolute;
  min-height:100vh;
  z-index:10;
  background-color:rgb(187, 187, 187);
  display:flex;
  justify-content:center;
}
.beforePaper {
  background-color:rgb(231, 231, 231) !important;
  padding:24px;
}

.NavBar {
  height:10vh;
}